body {
    padding-bottom: 60px; /* Adjust based on the footer height */
}

.footer {
    background-color: #f8f9fa;
    position: fixed;
    bottom: 0;
    width: 100%;
}


.rotate-text{
    white-space: nowrap;
}

.layout input {
    width : 100%;
    box-sizing : border-box;
}

.layout textarea {
    width : 100%;
    margin-top : 10px;
    min-height : 300px;
}
