<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default/mainLayout}">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div layout:fragment="content">
    <div class="container-fluid mt-3" style="width: 60%;">
        <form class="col-lg-8 mx-auto" action="/user/login" method="post">
            <div class="mb-3">
                <label for="userEmail" class="form-label">이메일</label>
                <input type="email" class="form-control" name="userEmail" id="userEmail">
            </div>
            <div class="mb-3">
                <label for="userPassword" class="form-label">비밀번호</label>
                <input type="password" class="form-control" name="userPassword" id="userPassword">
            </div>
            <div class="d-flex">
                <input class="btn btn-primary" type="submit" value="로그인">
            </div>
        </form>
    </div>
</div>
</body>
</html>
