<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default/mainLayout}">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div layout:fragment="content">
    <div class="container-fluid mt-3" style="width: 60%;">
        <form class="col-lg-8 mx-auto" th:action="@{/user/update}" method="post">
            <input type="hidden" name="userIdx" th:value="${updateUser.userIdx}">
            <div class="mb-3">
                <label for="userEmail" class="form-label">이메일</label>
                <input class="form-control-plaintext" type="text" name="userEmail" id="userEmail"
                       th:value="${updateUser.userEmail}" readonly>
            </div>
            <div class="mb-3">
                <label for="userPassword" class="form-label">비밀번호</label>
                <input class="form-control" type="text" name="userPassword" id="userPassword"
                       th:value="${updateUser.userPassword}">
            </div>
            <div class="mb-3">
                <label for="userName" class="form-label">이름</label>
                <input class="form-control" type="text" name="userName" id="userName"
                       th:value="${updateUser.userName}">
            </div>

            <div class="d-flex justify-content-between">
                <a class="btn btn-secondary" th:href="@{/user/view}">리스트</a>
                <a class="btn btn-primary" type="submit" th:href="@{/user/{id}(id=${updateUser.userIdx})}">수정</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>